.learn{
    background-color: #fff;
    text-align: center;
}

hr{
    background:"black";
    width: "100%";
}

.h1_learn{
    font-size: 30px ;
    margin: 5px;
    padding: 5px;
    background-color: #ddd;
    border: solid;
}

.span,.b{
    font-size: 30px ;
}
