.w-container{
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color:rgba(15, 14, 14, 0.6);
    color: white;
    padding: 15px;
}
.page{
    position: relative;
    
}
.story{
    margin: 50px 50px 45px 50px;
}

.status{
    color: white;
}

.contain-sentence{
    font-size: 50px;
}
/* .contain-sentence{
    width: 800px;
    display: inline-block;
    display: flex; 
    flex-wrap: wrap; 
    flex-direction: row;
    text-align-last: right;
    /* display: flex; */
    /* flex-direction:row-reverse wrap; 
   
} */
/* .contain-sentence>* {
    flex: 0 1 160px;
} */
.sentence{
    display: inline-flex; 
}

.sentence .story-fig {
    height: 70px;
    width: 70px;
  }
.sentence .story-text{
    display: inline-flex;
  
}
.contain-sentence .story-fig{
    margin: 20px;
    display: inline-flex; 
}
.last_index{
    font-size: 50px;
}


.sentence .col-offset-4{
    float: left;
    margin: 10px;
    
}
.sentence .css-cndqux-control {
    background-color: transparent;
    color: white;
    cursor: pointer;
}

.sentence .css-2b097c-container {
    font-size: 20px;
}

.sentence .css-2613qy-menu .css-5q3rez-control {
    background-color: transparent;
    color: white;
    cursor: pointer;
}

.sentence .css-1uccc91-singleValue {
    color: #fff;
}

.sentence .css-1uccc91-singleValue:hover {
    color: #fff;
}

.sentence .css-5q3rez-control {
    background-color: transparent;
    color: #fff;
    border-color: #fff;
}

.btn-senteces{    
    position: absolute;
    bottom: 2px;
    left: 50%;

    background-color: transparent;
    color: #fff;
    padding: 8px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
}

.btn-senteces:hover {
    transition: all 0.3s ease-out;
    background: #fff;
    color: #242424;
    transition: 250ms;
}
/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
    
    .story {
        width: 300px;
     }
}
