figure .story-fig {
    background-repeat: no-repeat;
    width: 60px;
  }
  
.story-fig:hover .story-img {
    opacity: 0;
    display: block;
}
  
.story-img {
    pointer-events: none;
    height: 70px;
    width: 70px;
  }
